<h1>Topics#index</h1>
<table>
    <tr>
      <th>제목</th>
      <th>작성일</th>
      <th></th>
    </tr>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= depth_mark(topic.depth) %> <%= topic.subject %></td>
      <td><%= topic.created_at %></td>
      <td>
        <%= link_to "보기", topic %>
        <%= link_to "수정", edit_topic_path(topic) %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @topics %>

<div class="footer">
  <%= link_to "새글 작성", new_topic_path %>
</div>