<div class="article">
  <div class="subject">
    제목: <%= @topic.subject %>
  </div>
  <div class="body">
    <%= @topic.body %>
  </div>
</div>

<div class="comments">
  <ul>
    <% @comments.each do |c| %>
      <li><%= c.body %></li>
    <% end %>
  </ul>

  <%= render partial: "comments/form", object: @new_comment %>
</div>

<div class="actions">
  <%= link_to "답글", new_topic_path(parent_id: @topic.id) %>
  <%= link_to "목록", topics_path %>
</div>
